
/* start div of Required Task   */

.container{
			text-align: center;
			padding-top: 50px;
			color: green;
		}
		
/* End div RT */
.sum{
	        text-align: center;
			padding-top: 10px;
			color: blue;
}
/* start div of Form input   */
     